.App {
  text-align: center;
}

.card-grid {
  display: grid;
  margin: 2rem 2rem 2rem 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* This is better for small screens, once min() is better supported */
  /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
  grid-gap: 1rem;
  /* This is the standardized property now, but has slightly less support */
  /* gap: 1rem */
}

.card {
  border-radius: 0.25rem;
  background-color: white;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding: 1rem;
}

.options {
  margin-top: 0.5rem;
}

.option {
  margin-top: 0.25rem;
  color: #555555;
  font-size: 0.75rem;
}
.button-container {
  margin-top: 1rem;
}
.reveal-answer-button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}
.hide-answer-button {
  background-color: hsl(200, 100%, 50%);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.true-answer {
  color: red;
}
